@use './Variables' as *;
@use './Utilities';

#site_footer {
    color: $lighter;
    background-color: $darker;
    padding: 1rem 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;

    .left_footer {

        .footer_title {
            font-weight: bold;
        }

        .legal_info {
            font-size: 0.8rem;
            padding-top: 0.5rem;
            margin-left: -0.25rem;
        }
    }

    .find_us {
        text-align: center;

        svg {
            height: 1.5rem;
            fill: $lighter;
            margin: 0.25rem;
        }
    }
}