@use './Variables' as *;
@use './Utilities';

#site_header {
    background-color: $header-bg;
    padding: 1rem 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;

    nav {
        font-weight: bold;
    }

    .logo {
        width: 150px;
    }

    .icons svg {
        height: 1rem;
        fill: $lighter;
        margin: 0.25rem;
    }
}