@use './Variables' as *;
@use './ProductCard';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;

    .product-modal-card {
        width: 550px;
        height: 500px;
        background-color: $lighter;
        border-radius: 1rem;
        padding: 1rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: end;


        .modal-left {
            display: flex;

            .product-images-slider {
                height: 100%;
                width: 100%;
                text-align: center;

                img {
                    height: 100%;
                }
            }
        }

        .modal-right {
            width: 200px;
            padding: 1rem 0 1rem 1rem;
            position: relative;

            .modal-close {
                position: absolute;
                top: 0;
                right: 0;

                :hover {
                    cursor: pointer;
                }

                svg {
                    height: 20px;
                    fill: gray;
                }
            }

            .product-brand {
                font-size: 2rem;
                font-weight: bold;
                padding-bottom: 1rem;
            }

            .product-info {
                padding-top: 1rem;
                display: flex;
                justify-content: space-between;

                .discount {
                    @include discount;
                    width: fit-content;
                    border-radius: 5px;
                    margin: 0.5rem 0;
                }

                .susteinability {
                    @include susteinability;
                    width: fit-content;
                    border-radius: 5px;
                    margin-top: 3rem;
                }

                .price {
                    text-decoration: line-through;
                    margin: 0.5rem 0;
                }

                .final-price {
                    color: $discount;
                    font-weight: bold;
                }
            }

            .thumb {
                display: flex;
                margin-top: 2rem;

                img {
                    margin: 0.5rem;
                    width: 50px;
                }
            }
        }
    }
}