@use './Variables' as *;
@use './Utilities';

.item_container {
    width: 30%;
    min-width: 300px;
    padding: 1rem 0;
    margin: 0 auto;

    .img_container {
        position: relative;

        &:hover .item_img {
            display: none;
        }

        &:hover .item_img_hover {
            display: inline-block;
            width: 100%;
        }

        .item_img {
            max-width: 100%;
        }

        .item_img_hover {
            display: none;
        }

        .favourite {
            position: absolute;
            top: 2%;
            right: 0;
            background-color: $lighter;
            fill: $darker;
            padding: 0.8rem;

            svg {
                height: 20px;
            }
        }

        .added {
            fill: $price;
        }

        .item_marks {
            position: absolute;
            bottom: 10%;
            left: 0;
            display: flex;

            .discount {
                @include discount
            }

            .susteinability {
                @include susteinability
            }
        }
    }

    .article_info {

        .product-name:hover {
            cursor: pointer;
        }

        .price {
            display: flex;

            .current_price {
                color: $price;
                font-size: 0.8rem;
                font-weight: bolder;
            }

            .older_price {
                text-decoration: line-through;
                font-size: 0.8rem;
                margin-left: 0.5rem;
            }
        }
    }
}